META_ACCESS_TOKEN=
JWT_SECRET=
NEXT_PUBLIC_GA4_MEASUREMENT_ID=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SITE_NAME=
NEXT_PUBLIC_CONTACT_PHONE=
NEXT_PUBLIC_CONTACT_EMAIL=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_GTM_ID=
MONGODB_URI=